@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --corprimaria: #0A3871;
    --corsecundaria: #D8DFE8;
    --corterciaria: #343A40;
    --corextra: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: var(--corsecundaria);
    margin: 40px 40px 0px 40px;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
}

.cabecalho img {
    width: 120px;
    height: 48px;
}

.cabecalho h1 {
    color: var(--corterciaria);
}

.container-input {
    display: flex;
    justify-content: space-between;
    padding-right: 3%;
    padding-left: 5%;
}

.container-input .input {
    width: 335px;
    height: 230px;
}

.informacao {
    font-size: 21px;
    margin-top: 18px;
    color: var(--corterciaria);
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2%;

}

#input-texto {
    width: 335px;
    height: 330px;
    margin: 20px 0 0 ;
    font-size: 20px;
    padding: 2%;
    color: var(--corprimaria);
    text-align: left;
    background: transparent;
    outline: 0;
    box-shadow: none;
    border: none;
    resize: none;
    text-transform: uppercase;
    }

#output {
    display: flex;
    flex-direction: column;
    background-color: var(--corextra);
    border-radius: 20px;
    width: 300px;
    height: 400px;
    margin-top: 20px;
}

#output h2 {
    text-align: center;
    font-size: 18px;
    color: var(--corprimaria);
}

#output span {
    font-size: 13px;
    text-align: center;
    margin-top: 10px;
}

#output img {
    max-width: 300px;
    min-height: 300px;
    width: auto;
    height: auto;
    padding: 32px;
    margin-top: 4%;
}

.container-btn button {
    border: 2px solid var(--corprimaria);
    border-radius: 10px;
    text-decoration: none;
    color: var(--corprimaria);
    width: 150px;
    height: 50px;
    margin-left: 55px;
    cursor: pointer;
}

.btn-copiar {
    border: 2px solid var(--corprimaria);
    border-radius: 10px;
    text-decoration: none;
    color: var(--corprimaria);
    width: 150px;
    height: 50px;
    margin-left: 30%;
    margin-bottom: 10%;
    cursor: pointer;
}

.container-btn button:hover {
    border: 2px solid var(--corsecundaria);
    transition: 0.5s all;
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 100px 0px 100px;
    background-color: #296caf81;
    border-radius: 20px;
}

.rodape h3 {
    font-size: 13px;
}